extends layout_with_account

block content
    table
        tbody
            tr
                th(colspan=2) App Name
                td(colspan=2)=applicationName
            tr
                th(colspan=2) Issued At
                td(colspan=2)=issuedAt
            tr
                th(colspan=2) Expires At
                td(colspan=2)=expiresAt
            tr
                th(colspan=2) Scopes
                td(colspan=2)=scopes
            tr
                th(colspan=2) User ID
                td(colspan=2)=appScopedUserId
