extends layout_with_account

block content
    table
        thead
            tr
                th Field
                th Value
        tbody
            tr
                td Name
                td #{name}
            tr
                td Address
                td #{address}
            tr
                td City
                td #{city}
            tr
                td Country
                td #{country}
            tr
                td Postal Code
                td #{postal_code}
            tr
                td Latitude
                td #{latitude}
            tr
                td Longitude
                td #{longitude}
